@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
header{
    background-color: var(--primary);
}
.header-conteiner {
    align-items: center;
    justify-content: space-between;
    height: 12vh;
    z-index: 1000;
    align-items: center;
    background-color: var(--primary);
    border-bottom: 1px solid rgba(89, 89, 89, 0.24);
}
.logo-part {
    background-color: #3F3F3F;
    padding: 7px;
    height: 7vh;
    width: 7%;
    justify-content: space-around;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
}
.logo-part img {
    min-width: 31px;
}
.center-part-heder {
    align-items: center;
    width: 60%;
    border: 1px solid rgba(0, 0, 0, 0.505);
    justify-content: space-between;
    border: 0.5px solid;
    height: 7vh;
    border-radius: 32px;
}
.burger-katalog {
    border: 1px solid rgba(0, 0, 0, 0.505);
    background-color: var(--bg-dark);
    border-radius: 32px;
    padding: 7px 15px;
    align-items: center;
    justify-content: space-between;
    width: 17%;
    min-width: 50px;
    height: 7vh;
    font-weight: 400;
    overflow: hidden;
    cursor: pointer;
}
.burger-katalog:hover {
    opacity: 0.8;
}
.burger-katalog img {
    margin-right: 5px;
    width: 30%;
    filter: invert(1);
}
.burger-katalog span {
    width: 70%;
    font-size: calc(10px + 8 * (100vw / 1440));
    line-height: 20px;
    color: #fff;
}
.center-part-heder nav {
    width: 60%;
}
.header-nav {
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
}
.header-nav li {
    display: flex;
    align-items: center;
    font-size: calc(10px + 6 * (100vw / 1440));
}
.header-nav li img {
    margin-left: 5px;
}
.search-conteiner {
    align-items: center;
    justify-content: space-between;
    border: 1px solid #3f3f3f58;
    background-color: var(--bg-dark);
    border-radius: 32px;
    box-sizing: border-box;
    width: 17%;
    min-width: 50px;
    height: 7vh;
}
.search-conteiner button {
    border: none;
    background-color: #ffeeb400;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 3px;
    width: 30%;
    cursor: pointer;
}
.search-conteiner button img {
    filter: invert(1);
    min-height: 18px;
}
.search-conteiner input {
    border: none;
    outline: none;
    background-color: var(--bg-dark);
    font-size: calc(10px + 8 * (100vw / 1440));
    color: rgba(255, 255, 255, 0.705);
    border-radius: 32px;
    width: 100%;
    /* height: 100%; */
    cursor: pointer;
}
.search-conteiner input:active {
    border: none;
    outline: none;
    background-color: var(--bg-dark);
}
.conaction-options {
    justify-content: space-around;
    align-items: center;
    width: 15%;
    background-color: var(--bg-dark);
    border-bottom-left-radius: 31px;
    border-top-left-radius: 32px;
    height: 7vh;
    padding: 7px;
    padding-left: 10px;
}
.conaction-options a {
    justify-content: space-between;
    align-items: center;
    width: 12%;
    cursor: pointer;
}
.conaction-options-vertical {
    position: absolute;
    right: 0;
    top: 2.5vh;
    justify-content: space-around;
    align-items: center;
    width: 7%;
    height: 25vh;
    background-color: var(--bg-dark);
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    padding: 10px;
}
.header-conteiner .conaction-options-vertical {
    display: none;
}
.conaction-options-vertical a {
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.conaction-options a img,
.conaction-options-vertical a img {
    filter: invert(1);
}
.conaction-options a:hover,
.conaction-options-vertical a:hover {
    opacity: 0.7;
}