.signup-page {
    background: linear-gradient(to right, #FFEEB4 50%, #fff 50%);
}
.signup-page-inner {
    align-items: center;
}
.left-back-img, .right-signup-form {
    width: 50%;
    height: 90vh;
}
.left-back-img img {
    width: 50%;
    margin: 0 auto;
}
.form-signup {
    align-items: center;
    width: 30%;
    margin: 11vh auto;
    position: relative;
}
.form-signup h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 9px;
}
.signup-inputs {
    margin-top: 20px;
    width: 100%;
    align-items: center;
}
.signup-inputs input {
    margin-bottom: 9px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 12px;
    background-color: var(--bg-light);
    padding: 13px;
    font-size: 15px;
    font-weight: 400;
}
.signup-inputs input:active {
    margin-bottom: 9px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 12px;
    background-color: var(--bg-light);
    padding: 14px;
    font-size: 15px;
    font-weight: 400;
}

.signup-inputs input:not(:first-child) {
    background-image: url(../../images/Icon/eye-cls.svg);
    background-position: 97% 50%;
    background-repeat: no-repeat;
}
.check-pass-conditions {
    align-self: flex-start;
    margin-bottom: 20px;
}
.check-pass-conditions span {
    margin-top: 9px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}
.check-pass-conditions span i {
    opacity: 0.5;
    margin-right: 10px;
}
.i-agree {
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    margin-left: 10px;
}
.signup-btn {
    margin: 15px auto 0px;
}