@media (min-width:1510px) and (max-width: 5000px) {
    header {
        justify-content: space-between
    }
    .header-conteiner {
        width: 84vw;
        margin: 0;
    }
    .center-part-heder {
        width: 70%;
    }
    .over-width {
        display: flex;
        background-color: var(--primary);
        width: 12vw;
        height: 12vh;
        align-items: center;
        border-bottom: 1px solid rgba(89, 89, 89, 0.24);

    }
    .dark-line {
        background-color: var(--bg-dark);
        height: 7vh;
        width: 100%;
    }
    
}

@media (max-width: 1440px) {
    .over-width {
        display: none;
    }
}
@media (max-width: 1200px) {
    /* Header */
    .center-part-heder {
        width: 65%;
    }
}

@media (max-width: 1100px) {
    /* Header */
    .center-part-heder {
        width: 77%;
    }
}
@media (max-width: 900px) {
    /* Header */
    .header-conteiner {
        width: 90%;
        margin: 0;
    }
    .logo-part {
        width: 10%;
    }
    .center-part-heder {
        width: 88%;
    }
    .conaction-options {
        display: none;
    }
    .header-conteiner .conaction-options-vertical {
        display: flex;
    }
}
@media (max-width: 760px) {
    /* Header */
    .search-conteiner,
    .burger-katalog {
        width: 9%;
    }
    .search-conteiner input {
        display: none;
    }
    .center-part-heder nav {
        width: 78%;
    }    
    .burger-katalog span {
        display: none;
    }
    .burger-katalog img {
        width: 100%;
        margin: 0;
        min-width: 18px;
    }

    /* Signin */
    .left-back-img {
        display: none;
    }
    .form-signin {
        width: 70%;
    }
}
